* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Indie Flower', cursive;
  background: #0d0d0d;
  color: #e0e0e0;
  min-height: 100vh;
}

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Short+Stack&family=VT323&display=swap');
